// redefined variables
$primary: #4a4e69;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "space": #22223b,
  "indep": #4a4e69,
  "helliogray": #9a8c98,
  "silverpink": #c9ada7,
  "almond": #f2e9e4,
  "offwhite": #f7f5f4,
);

$font-family-base: "Montserratlight";
// Merge the color maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// all bootstrap (needs to be at bottom)
@import "../node_modules/bootstrap/scss/bootstrap";

.page-title {
  font-weight: 500;
  margin-bottom: 1em;
  color: $primary;
  margin-top: 1em;
  letter-spacing: 3px;
}

img.header-icon {
  width: 30px;
  height: 40px;
  margin-right: 1em;
}

.surveyitem-icon {
  height: 25px;
  width: 25px;
}

.surveyitem-icon:hover {
  color: #22223b;
  transform: scale(1.33);
}

.btn-primary {
  display: inline-block;
  position: relative;
  color: white;
}

.btn-primary::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9a8c98;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn-primary:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
