// redefined variables
$primary: #4a4e69;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "space": #22223b,
  "indep": #4a4e69,
  "helliogray": #9a8c98,
  "silverpink": #c9ada7,
  "almond": #f2e9e4,
  "offwhite": #f7f5f4,
);

$font-family-base: "Montserratlight";
// Merge the color maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// all bootstrap (needs to be at bottom)
@import "../node_modules/bootstrap/scss/bootstrap";

.page-title {
  font-weight: 500;
  margin-bottom: 1em;
  color: $primary;
  margin-top: 1em;
  letter-spacing: 3px;
}

img.header-icon {
  width: 30px;
  height: 40px;
  margin-right: 1em;
}
